<% layout('layout/page.ejs') %>
<% if(user) {%>
<h1 class="userOn">Привет <%= user.username %></h1>
<%  } else { %>
<h1 class="userOff">Зарегистрируйтесь, чтобы видеть все страницы сайта</h1>
<% } %>
    
